html {
    user-select: none;
    overflow: hidden;
}

body,html {width:100% ; height:100%; background-color: #dfe5fe; padding: 0; margin: 0px;
cursor: url(images/auto.png), auto;
}

input {cursor: url(images/auto.png), auto;}


#zone_haut {
height: 100px;
background-color: #dfe5fe;
font-size: 0;
vertical-align: top;
}

#zone_bas {
height: calc( 100% - 100px );
font-size: 0;
}

#zone_gauche {
display: inline-block;
width: 150px;
height: 100%;
background-color: #dfe5fe;
background-image: url(images/logo.png);
background-repeat: no-repeat;
background-position: center bottom;
font-size: 0;
vertical-align: top;
}

#zone_gauche p {
font-size: 0.8rem;
}

#zone_gauche input {
font-size: 0.8rem;
}

#zone_blocs {
display: inline;
height: 100%;
text-align: center;

}

#compteur {
float: left;
width: 138px;
height: 88px;
background-color: #bdffd5;
margin: 5px;
font-size: 20px;
font-size: 2rem;
border: 1px solid;
border-radius: 3px;
}

#compteur p {
text-align: center;
vertical-align: middle;
font-size: 20px;
font-size: 2rem;
}

.bouton_plus_moins {
vertical-align: middle;
width: 2rem;
height: 2rem;
}

.compteur {
color: blue;
display:inline;

}

#zone_haut_centaines, #zone_haut_dizaines, #zone_haut_unites, #zone_haut_milliers {
display: inline-block;

height: 90px;
background-color: #57abc1;
margin: 5px;
border: 1px solid;
border-radius: 3px;
text-align: center;
font-size: 20px;
font-size: 2rem;
vertical-align: top;
}

#zone_haut_centaines p, #zone_haut_dizaines p, #zone_haut_unites p, #zone_haut_milliers p {
vertical-align: middle;
margin: 0;
}

.bouton {
margin: 3px;
background-repeat: no-repeat;
background-position: center;
width: 38px;
height: 38px;
background-size: contain;
border-radius: 5px;
vertical-align: middle;
}

.boutons {
text-align: center;
}


.colonne {
display: inline-block;
position: relative;

height: calc( 100% - 60px );
border: 1px solid;
border-radius: 3px;
text-align: center;
background-color: #fff;
margin: 5px;
box-shadow: 3px 3px 3px 0px #95A4C6;
}

.colonne_zoom {height:  50px;}

.colonne_generale {
display: block;
position: absolute;

height: calc( 100% - 60px );
border: 1px solid;
border-radius: 3px;
text-align: center;
background-color: #fff;
margin: 5px;
box-shadow: 3px 3px 3px 0px #95A4C6;
}


.ombre-portee {
filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.41));
}

.bouton_zone_gauche {
width: 38px;
height: 38px;
background-size: contain;
border-radius: 5px;
}

.interrupteur {
background-image: url(images/oeil.png);

}

.corbeille {
background-image: url(images/corbeille2.png);
}

.bouton_ranger {
background-image: url(images/ranger.png);
}

.bouton_melanger {
background-image: url(images/melanger.png);
}

.draggable {
cursor: url(images/grab.png) 19 19, grab;
}

#contenu_haut_unites, #contenu_haut_dizaines, #contenu_haut_centaines, #contenu_haut_milliers {display: none;}


.curseur_hasard {
width: 35px;
height: 20px;
}

#zone_globale {

position:absolute;
left:150px;
top:100px;
height: calc( 100% - 160px );
}


.lightbox {
position: absolute;
width: 50%;
height: 50%;
max-height: 50%;
top: 25%;
left: 25%;
padding : 10px;
background-color: #fff;
border: 1px solid;
border-radius: 10px;
overflow-y: auto;
z-index: 9999;
}

#darkbox {
position: absolute;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
background-color: rgba(0,0,0,0.5);
z-index: 9998;
}

.texte-defilable {

}

#canvas {
position: absolute;
top: 100px;
left: 150px;
z-index: 1;
}

#controles_hasard {
font-size:0.8rem !important;
}

#controles_hasard input {
font-size:0.8rem !important;
text-align:right;
}


